*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  font-family: "National Park";
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#toolbar {
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  padding: 0.3rem;
  font-size: 1.2rem;
  z-index: 1000;
  box-shadow: 0 0 5px black;
  user-select: none;
  font-weight: bold;
}

#workspace {
  background-color: var(--workspace-background);
  flex: 1;
}

/* TOOLBOX */

#toolbox {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  font-weight: bold;
  box-shadow: 0 0 5px black;
}

#toolbox-title {
  background-color: var(--purple);
  color: var(--text-light);
  padding: 0.2rem;
  cursor: move;
}

#toolbox button {
  font-family: "National Park";
  font-weight: 300;
  cursor: pointer;
}

/* BACKGROUND */

#background {
  --grid-size: 50px;
  --dot: 1px;

  background-size: calc(var(--grid-size) * var(--scale, 1))
    calc(var(--grid-size) * var(--scale, 1));
  background-image: radial-gradient(
    circle,
    var(--background-dots) var(--dot),
    var(--workspace-background) var(--dot)
  );
  background-position: var(--offset-x, 0) var(--offset-y, 0);
  width: 100%;
  height: 100%;
  position: fixed;
}

/* MODULE INTERFACE */

#modules {
  position: fixed;
}

.mod {
  position: fixed;

  transform: translate(var(--x, 0), var(--y, 0));
  display: grid;
  grid-template-areas:
    ". header ."
    "inports mod outports"
    ". state .";
}

.mod:hover .module-info {
  transition: 50ms;
}

.mod:hover .module-header {
  max-height: 40px;
  transition: 200ms;
}

.module-header {
  grid-area: header;
  background-color: #282a36;
  width: 100%;
  display: flex;
  position: absolute;
  max-height: 0px;
  color: var(--text-light);
  font-weight: bold;
  transition: 200ms 500ms;
  bottom: 100%;
  outline: 1px solid #282a36;
}

.mod:hover .module-state {
  /* overflow-y: scroll; */
  max-height: 400px;
  max-width: 400px;
  transition: 400ms;
}

.module-state {
  font-family: monospace;
  position: absolute;
  background-color: var(--text-light);
  color: var(--text-dark);
  transition: 400ms 500ms;
  overflow: hidden;
  grid-area: state;
  max-height: 0px;
  max-width: 100%;
  outline: 1px solid #282a36;
}

.module-ui {
  grid-area: mod;
  line-height: 0;
  z-index: 5;
  background-color: #282a36;
  outline: 1px solid #282a36;
}

.mod:hover .outport-container {
  transition: 200ms;
  right: -15px;
}

.outport-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  right: 0;
  transition: 200ms 500ms;
  grid-area: outports;
}

.mod:hover .inport-container {
  transition: 200ms;
  left: -15px;
}

.inport-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  left: 0;
  transition: 200ms 500ms;
  grid-area: inports;
}

.port {
  height: 12px;
  width: 12px;
  background-color: #282a36;
  border-radius: 50%;
  cursor: pointer;
}

.port:hover {
  outline: 1px solid #282a36;
  background-color: var(--green);
}
