#tools {
  position: fixed;
}

.tool {
  /* box-sizing: content-box; */
  position: fixed;
  transform: translate(var(--x, 0), var(--y, 0));
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  min-height: var(--ui-height);
  min-width: var(--ui-width);
}

.tool.show-toolbar .inports,
.tool.show-toolbar .outports,
.tool:hover .inports,
.tool:hover .outports {
  visibility: visible;
}

.tool.show-state .tool-state {
  display: block;
}

/* TOOLBAR  */

.tool.show-toolbar .toolbar,
.tool:hover .toolbar {
  top: 1px;
  visibility: visible;
}

.toolbar {
  border: 1px solid var(--black);
  background-color: var(--black);
  position: relative;
  z-index: 2;
  user-select: none;
  grid-row: 1;
  grid-column: 2;
  visibility: hidden;
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px;
  gap: 20px;
  top: 100%;
  transition: all ease-in-out 150ms;
}

.tool-displayname {
  font-weight: 600;
}

.tool-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tool-actions > i {
  display: inline;
}

/* TOOLBAR BUTTONS */

.remove {
  cursor: pointer;
}

.remove:hover {
  color: var(--red);
}

.pin {
  cursor: pointer;
}

.pin:hover,
.tool.show-toolbar .pin:hover {
  color: var(--cyan);
}

.tool.show-toolbar .pin {
  color: var(--blue);
}

.toggle-state {
  cursor: pointer;
}

.toggle-state:hover,
.tool.show-state .toggle-state:hover {
  color: var(--cyan);
}

.tool.show-state .toggle-state {
  color: var(--purple);
}

.drag:hover {
  color: var(--orange);
  cursor: move;
}

/* TOOL VIEW */

.tool-view {
  box-sizing: content-box;
  border: 1px solid var(--black);
  position: relative;
  grid-row: 2;
  grid-column: 2;
  height: var(--ui-height);
  width: var(--ui-width);
  z-index: 3;
  background-color: var(--tool-background);
}

/* STATE PANE */

.tool-state {
  z-index: 3;
  grid-row: 3;
  grid-column: 2;
  display: none;
  font-family: monospace;
  overflow: hidden;
  max-width: var(--ui-width);
}

/* PORTS */

.port-container {
  display: flex;
  width: 0px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 2px;
  z-index: 1;
}

.inports {
  grid-row: 2;
  grid-column: 1;
}

.outports {
  grid-row: 2;
  grid-column: 3;
}

.outports .port {
  transform: translateX(-100%);
}

.tool.show-toolbar .outports .port,
.tool:hover .outports .port {
  max-height: 20px;
  max-width: 50px;
  right: -2px;
  transform: translateX(0);
}

.inports .port {
  transform: translateX(0);
}

.tool.show-toolbar .inports .port,
.tool:hover .inports .port {
  max-height: 20px;
  max-width: 50px;
  right: 3px;
  transform: translateX(-100%);
}

.port {
  position: relative;
  transition: all ease-in-out 150ms;
  max-height: 0px;
  max-width: 0px;
  width: fit-content;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--port);
  border-radius: 6px;
  padding: 2px 4px;
  font-size: small;
  border: 1px solid var(--black);
}

.port:hover {
  background-color: var(--port-color);
}
