*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  font-family: "National Park";
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#top-bar {
  position: fixed;
  width: 100%;
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  padding: 0.3rem;
  font-size: 1.2rem;
  z-index: 1000;
  user-select: none;
  font-weight: 900;
}

#workspace {
  background-color: var(--workspace-background);
  flex: 1;
}

/* TOOLBOX */

#toolbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid var(--black);
}

.ui-pane {
  background-color: var(--tool-background);
}

.pane-header {
  background-color: var(--black);
  color: var(--text-light);
  padding: 0.2rem;
  font-weight: bold;
}

#toolbox button {
  font-family: "National Park";
  font-weight: 400;
  cursor: pointer;
}

/* TOOLCHAIN INFO */

#toolchain-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid var(--black);
}

.info-header {
  font-weight: bold;
}
/* BACKGROUND */

#background {
  --grid-size: 50px;
  --dot: 1px;

  background-size: calc(var(--grid-size) * var(--scale, 1))
    calc(var(--grid-size) * var(--scale, 1));
  background-image: radial-gradient(
    circle,
    var(--background-dots) var(--dot),
    var(--workspace-background) var(--dot)
  );
  background-position: var(--offset-x, 0) var(--offset-y, 0);
  width: 100%;
  height: 100%;
  position: fixed;
}

#toolchain {
  position: fixed;
}

#pipes {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pipe {
  fill: none;
  stroke: var(--port);
  stroke-width: 3px;
}
