@font-face {
  font-family: "National Park";
  src: url("/assets/fonts/NationalPark/woff2/NP-VariableVF.woff2")
      format("woff2 supports variations"),
    url("/assets/fonts/NationalPark/woff2/NP-VariableVF.woff2")
      format("woff2-variations");
}

i::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

body {
  font-family: "National Park";
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#nav {
  position: fixed;
  width: 100%;
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  font-size: 1.2rem;
  z-index: 1000;
  user-select: none;
  font-weight: 900;
}

#nav-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: smaller;
  margin: auto 0.2rem auto 1rem;
}

#nav-buttons > i:hover {
  cursor: pointer;
  color: var(--pink);
}

#nav-buttons > i {
  position: relative;
}

.dropdown-icon:hover .dropdown {
  display: block;
}

.dropdown {
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 0.2rem;
  white-space: nowrap;
  font-family: "National Park";
  font-weight: 400;
  background-color: var(--tool-background);
  font-size: 1rem;
  color: var(--text-dark);
  position: absolute;
  right: 0;
  display: none;
}

.dropdown-item {
  text-align: right;
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
}

.dropdown-item:hover {
  background-color: var(--pink);
}

#workspace {
  background-color: var(--workspace-background);
  flex: 1;
}

/* TOOLBOX */

#toolbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid var(--black);
}

.ui-pane {
  background-color: var(--tool-background);
}

.pane-header {
  background-color: var(--black);
  color: var(--text-light);
  padding: 0.2rem;
  font-weight: bold;
}

#toolbox button {
  font-family: "National Park";
  font-weight: 400;
  cursor: pointer;
}

/* BACKGROUND */

#background {
  --grid-size: 40px;
  --dot-size: 1px;

  --offset-x: 0px;
  --offset-y: 0px;
  --scale: 1;

  width: 100%;
  height: 100%;
  position: fixed;

  background-size: calc(var(--grid-size) * var(--scale, 1))
    calc(var(--grid-size) * var(--scale, 1));
  background-position: var(--offset-x, 0) var(--offset-y, 0);
  background-image: radial-gradient(
    circle,
    var(--background-dots),
    var(--background) var(--dot-size)
  );
}

#toolchain {
  position: fixed;
}

#svg-layer {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pipe-background {
  /* the gray pipe */
  fill: none;
  stroke: var(--port);
  stroke-width: 3px;
}

.pipe {
  /* the actual pipe, which is thicker, hidden, and revealed on hover */
  fill: none;
  stroke: var(--yellow);
  stroke-width: 5px;
  stroke-opacity: 0;
  cursor: pointer;
}

.pipe:hover {
  stroke-opacity: 1;
}

/* Selection box */

.select-box {
  fill: var(--pink);
  fill-opacity: 0.1;
  stroke: var(--pink);
  stroke-width: 1px;
}
