*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  font-family: "National Park";
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#nav {
  position: fixed;
  width: 100%;
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  font-size: 1.2rem;
  z-index: 1000;
  user-select: none;
  font-weight: 900;
}

#nav-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: smaller;
  margin: auto 0.2rem auto 1rem;
}

#nav-buttons > i:hover {
  cursor: pointer;
  color: var(--pink);
}

#workspace {
  background-color: var(--workspace-background);
  flex: 1;
}

/* TOOLBOX */

#toolbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid var(--black);
}

.ui-pane {
  background-color: var(--tool-background);
}

.pane-header {
  background-color: var(--black);
  color: var(--text-light);
  padding: 0.2rem;
  font-weight: bold;
}

#toolbox button {
  font-family: "National Park";
  font-weight: 400;
  cursor: pointer;
}

/* TOOLCHAIN INFO */

#debug-pane {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid var(--black);
  background-color: var(--black);
}

.debug-content {
  display: flex;
}

.debug-header {
  background-color: var(--black);
  color: var(--text-light);
  padding: 0.2rem;
  font-weight: bold;
  font-size: small;
}

.debug-header > span {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.debug-details {
  font-family: monospace;
  font-size: smaller;
}

.debug-info {
  font-family: monospace;
  font-size: smaller;
  padding: 0.1rem 0.2rem;
  background-color: var(--tool-background);
}

.debug-entry {
  display: grid;
  gap: 1px;
  height: fit-content;
  max-height: 200px;
  overflow: auto;
}
/* BACKGROUND */

#background {
  --grid-size: 50px;
  --dot: 1px;

  background-size: calc(var(--grid-size) * var(--scale, 1))
    calc(var(--grid-size) * var(--scale, 1));
  background-image: radial-gradient(
    circle,
    var(--background-dots) var(--dot),
    var(--workspace-background) var(--dot)
  );
  background-position: var(--offset-x, 0) var(--offset-y, 0);
  width: 100%;
  height: 100%;
  position: fixed;
}

#toolchain {
  position: fixed;
}

#pipes {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pipe-background {
  /* the gray pipe */
  fill: none;
  stroke: var(--port);
  stroke-width: 3px;
}

.pipe {
  /* the actual pipe, which is thicker, hidden, and revealed on hover */
  fill: none;
  stroke: var(--yellow);
  stroke-width: 5px;
  stroke-opacity: 0;
  cursor: pointer;
}

.pipe:hover {
  stroke-opacity: 1;
}
