.selected {
  outline: 2px solid var(--cyan);
}

.tool {
  position: fixed;
  transform: translate(var(--x, 0), var(--y, 0));
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  border: 1px solid var(--black);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--black);
  box-shadow: 0 0 3px 0 black;
}

.mini {
  border-radius: 5px;
}

/* TOOLBAR  */

.toolbar {
  user-select: none;
  grid-row: 1;
  grid-column: 2;
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  padding: 3px 5px;
  gap: 20px;
}

.mini .toolbar {
  grid-row: 2;
  grid-column: 2;
}

.tool-displayname {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TOOL MENU */

.menu {
  cursor: pointer;
  color: var(--text-light);
}

.menu:hover,
.menu:focus,
.menu:active,
.menu:focus:hover,
.menu:active:hover {
  color: var(--pink);
}

.menu:active + .tool-menu,
.menu:focus + .tool-menu {
  display: flex;
}

.tool-menu {
  display: none;
  position: absolute;
  user-select: none;
  background-color: var(--black);
  color: var(--text-light);
  font-size: small;
  flex-direction: column;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 black;
  z-index: 5;
}

.menu-item {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
}

.menu-item > i {
  display: inline;
}

.menu-item:hover {
  background-color: var(--black-accent);
}

/* TOOL VIEW */

.tool-view {
  z-index: 2;
  box-sizing: content-box;
  position: relative;
  grid-row: 2;
  grid-column: 2;
  min-height: var(--ui-height);
  min-width: var(--ui-width);
}

.tool-view.disable-pointer {
  pointer-events: none;
  user-select: none;
}

/* PORTS */

.port-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 2px;
  grid-row: 2;
  z-index: 1;
}

.inports {
  grid-column: 1;
  right: 100%;
  align-items: end;
}

.outports {
  grid-column: 3;
  left: 100%;
}

.outports .port {
  border-radius: 0 6px 6px 0;
}

.inports .port {
  border-radius: 6px 0 0 6px;
}

.port {
  width: fit-content;
  max-width: 100px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--port);
  padding: 2px 4px;
  font-size: xx-small;
  user-select: none;
  box-shadow: 0 0 3px 0 black;
}

.port:hover {
  background-color: var(--port-color, var(--port));
}

/* RESIZE HANDLE */

.resize-handle {
  height: 15px;
  width: 15px;
  z-index: 1;
  background-color: transparent;
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.resize-both .resize-handle {
  cursor: nwse-resize;
}

.resize-ew .resize-handle {
  cursor: ew-resize;
}

.resize-ns .resize-handle {
  cursor: ns-resize;
}

.resize-static .resize-handle {
  display: none;
}
